/***************************/
/* CALL TO ACTION */
#section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 67fr 33fr;
  background-image: linear-gradient(to right bottom, #fdf2e9, #fae5d3);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;

}

.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
background-image: linear-gradient(to right bottom, rgba(235,151,78,0.25), rgba(230, 125, 34, 0.25)), url('../img/eating.jpg');
background-size: cover;
background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  font-family: inherit;

}

.cta-form input,
.cta-form select,
.btn--form {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
 
}

.btn--form {
  transition: all 0.25s;
  color: white;
  background-color: #e67e22;
  align-self: end;
  padding: 1.2rem;

}

.cta-form input::placeholder {
  color: #afafaf;
}

.btn--form:hover {
  background-color: #cf711f;
}


/***************************/
